.Header {
  height: 800px;
  width: 100%;
  background-color: #222;
}

p {
  color: #fff;
  font-family: Avenir Next, Helvetica Neue, Helvetica, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: 700;
}
  p span {
          display: inline-block;
          position: relative;
          -webkit-transform-style: preserve-3d;
                  transform-style: preserve-3d;
          -webkit-perspective: 500;
                  perspective: 500;
          -webkit-font-smoothing: antialiased;
  }
  p span::before,
  p span::after {
          display: none;
          position: absolute;
          top: 0;
          left: -1px;
          -webkit-transform-origin: left top;
                  transform-origin: left top;
          transition: all ease-out 0.3s;
          content: attr(data-text);
  }
  p span::before {
          z-index: 1;
          color: rgba(0,0,0,0.2);
          -webkit-transform: scale(1.1, 1) skew(0deg, 20deg);
                  transform: scale(1.1, 1) skew(0deg, 20deg);
  }
  p span::after {
          z-index: 2;
          color: #C1597A;
          text-shadow: -1px 0 1px #C1597A, 1px 0 1px rgba(0,0,0,0.8);
          -webkit-transform: rotateY(-40deg);
                  transform: rotateY(-40deg);
  }
  p span:hover::before {
          -webkit-transform: scale(1.1, 1) skew(0deg, 5deg);
                  transform: scale(1.1, 1) skew(0deg, 5deg);
  }
  p span:hover::after {
          -webkit-transform: rotateY(-10deg);
                  transform: rotateY(-10deg);
  }
  p span + span {
          margin-left: 0.3em;
  }

  @media (max-width: 319px) {
        p {
                font-size: 28px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 230px;
        }
}

@media (min-width: 320px) and (max-width: 400px) {
        p {
                font-size: 28px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 240px;
        }
}

@media (min-width: 401px) and (max-width: 480px) {
        p {
                font-size: 28px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 300px;
        }
}

@media (min-width: 481px) and (max-width: 510px) {
        p {
                font-size: 40px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 310px;
        }
}

@media (min-width: 511px) and (max-width: 590px) {
        p {
                font-size: 40px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 350px;
        }
}

@media (min-width: 591px) and (max-width: 6400px) {
        p {
                font-size: 40px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 380px;
        }
}

@media (min-width: 641px) and (max-width: 680px) {
        p {
                font-size: 48px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 400px;
        }
}

@media (min-width: 681px) and (max-width: 740px) {
        p {
                font-size: 48px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 430px;
        }
}

@media (min-width: 741px) and (max-width: 840px) {
        p {
                font-size: 48px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 480px;
        }
}

@media (min-width: 841px) and (max-width: 940px) {
        p {
                font-size: 55px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 520px;
        }
}

@media (min-width: 941px) and (max-width: 1030px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 610px;
        }
}

@media (min-width: 1031px) and (max-width: 1160px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 670px;
        }
}

@media (min-width: 1161px) and (max-width: 1250px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 710px;
        }
}

@media (min-width: 1251px) and (max-width: 1340px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 750px;
        }
}

@media (min-width: 1341px) and (max-width: 1490px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 820px;
        }
}

@media (min-width: 1491px) and (max-width: 1650px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 900px;
        }
}

@media (min-width: 1651px) and (max-width: 1880px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 1000px;
        }
}

@media (min-width: 1881px) and (max-width: 2000px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 1060px;
        }
}

@media (min-width: 2001px) {
        p {
                font-size: 80px;
        }
                p span::before,
                p span::after {
                display: block;
        }

        .Header {
                height: 1180px;
        }
}