.gallery-jumbo {
        background-color: white !important;
}

#grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#grayscale:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
